<!DOCTYPE html>
<html>

<head>
    <title>DriveMyNight - se connecter</title>
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="../js/ctrl/LoginCtrl.js"></script>
    <script src="../js/services/ServiceHttp.js"></script>

</head>

<body>
    <div class="forms">
        <h1>Se connecter</h1>
        <form id="loginForm">
            <p>Adresse e-mail</p>
            <input id="mail" type="email" name="mail" required>
            <p>Mot de passe</p>
            <input id="password" type="password" name="password" required><br>
            <button id="button" type="submit">Se connecter</button>
        </form>
        <p>Pas de compte ? <a href="createProfile.html">S'inscrire</a></p>
    </div>
</body>

</html>