<html>

<head>
  <title>DriveMyNight - Voitures disponibles</title>
  <link rel="stylesheet" href="../css/style.css">
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="../js/ctrl/UserPageCtrl.js"></script>
  <script src="../js/services/ServiceHttp.js"></script>
</head>

<body>
  <header>
    <div class="header-left">
      <img src="../img/default.png" class="profilePic" id="picture">
      <p id="username">Username</p>
    </div>
    <div class="header-right">
      <div class="text-top"><p>Modifier son profile<p></p></div>
      <div class="text-bottom">Se déconnecter</div>
    </div>
  </header>
  <div id="blocContainer"></div>
</body>

</html>