<html>

<head>
  <title>DriveMyNight - Voitures disponibles</title>
  <link rel="stylesheet" href="../css/style.css">
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="../js/ctrl/UserPageCtrl.js"></script>
  <script src="../js/services/ServiceHttp.js"></script>
</head>

<body>
  <header>
    <div class="header-left">
      <img src="../img/default.png" class="profilePic" id="picture">
      <p id="username">Username</p>
    </div>
    <div class="header-right">
      <a href="editProfile.html"><div class="text-top"><p>Modifier son profile<p></p></div></a>
      <div id="disconnect" class="text-bottom">Se déconnecter</div>
    </div>
  </header>
  <div class="btnAddCar"><button id="addCarToParty">Ajouter ma voiture à la soirée</button></div>
  <div id="blocContainer"></div>
  <div id="joinPopup" class="join-popup">
    <div class="join-popup-content">
        <h2>Voulez-vous rejoindre ce véhicule ?</h2>
        <p>Commentaire :</p>
        <p id="comment"></p>
        <button id="confirmJoin">Oui</button>
        <button id="cancelJoin">Non</button>
    </div>
</div>

</body>

</html>